@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Oxygen', 'sans-serif' !important;
	line-height:2 !important;
	font-size:13px !important;
}

.post_row, #main_row {
	margin-left:0px !important;
	margin-right:0px !important;
}

#main_col {
	padding-top:100px;
}
#main_col h2 {
	color:#066DD2;
}
#blog_menu
{
	margin-left:0px;
	padding-top:20px;
}
#blog_menu li {
	list-style:none;
	padding-bottom:10px;
}

#blog_menu li a {
	color:rgb(153,153,153);
	font-size:14px;
}
.navbar-brand {
	margin-left:0px !important;
	padding:0px 0px 0px 0px !important;
	float:none !important;
}

.navbar {
	min-height:50px !important;
}

.navbar-brand img  {
	width:75px;
	display:inline;
}
.navbar-brand p {
	font-weight:bold !important;
	margin-bottom:0px;
	color:#fff;
}

.active, .active_link {
	border-bottom:3px solid #007BBA;
}
#navbar ul {
	max-width:90% !important;
	float:right !important;
	margin-top:15px;
}

#navbar ul li a {
	color:#fff;
	font-size:14px;
}

#top_bar {
	background-color:#007BBA;
	height:30px;
}

.navbar-default {
	background-color:#066DD2 !important;
	
}

footer {
	background-color:#808285;
	color:#fff !important;
}

.col_date  p{
	float:right !important;
}

a, a:hover {
	text-decoration:none !important;
}

footer a, footer a:visited {
	color:#fff !important;
}

#main_div {
	padding-top:150px;
}

#intro {
	padding-bottom:30px;
	text-align:justify;
}
.wrapper {
	max-width:100% !important;
	margin-left:0px !important;
	margin-right:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
}

.page-content {
	padding-top:100px;
	
}

.post-list a {
	color:#000;
}

.post-list li:nth-child(odd) 
{
	background-color:#F5F5F5;
}

.page-heading {
	padding-bottom:15px;
	font-size:36px;
	
}

.post-list h2 {
	margin-top:0px !important;
}
.post-list {
	width:100%;
}

.post-list li {
	width:100%;
}
.post-list p {
	text-align:justify;
}

.read_more {
	float:right;
	color:#007BBA !important;
	padding-right:15px;
}

.post {
	padding-top:150px;
}

.highlight {
	width:70%;
	height:200px;
	
}

.highlight pre {
	font-size:17px;
}

#footer_menu {
	/*margin-left:0px !important;
	max-width:200px;*/
	font-size:13px;
	display:inline !important;
	list-style-type:none;
	float:left;
}
	
#footer_menu  li{
	list-style:none;
	display:inline !important;
	padding-right:10px !important;
}

#footer_menu  li a{
	color:#fff;
}
#div_follow {
	
}

#div_follow h5 {
	text-align:center;
}

#follow_us {
	max-width:150px;
	float:right;
}

#follow_us a {
	padding-right:10px;
	
}

#footer_logo img {
	width:23%;
	padding-top:50px;

}

.hrzline {
	width:100%;
}

.div_warning {
	font-style:italic;
}

.authorname {
	text-align:center;
}
.post-content {
	text-align:justify !important;
}

.recent_posts {
	margin-left:0px;
	line-height:1.5;
}

.recent_posts li {
	list-style:none;
	padding-bottom:10px;
	padding-top:10px;
	min-height:50px;
	
}

.post-title {
	font-size:36px !important;
}

.active_post {
	background-image:url(../assets/active_bg.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	padding-left:5px;
	
}
	
