---
layout: default
---


<div class="row" id="main_row">
<div class="col-lg-2" id="main_col">
<hr  />
<h2 class="side_title">Our Blogs</h2>
<hr class="hrz_line" />
<ul id="blog_menu">
  {% for post in site.posts %}
  <li><a href="{{ post.url | prepend: site.baseurl | prepend: site.url}}">{{ post.title | truncatewords: 5 }}</a></li>
  {% endfor %}
<li><a href="{{ site.url}}{{ site.baseurl}}/index.html">All Blogs</a></li>
<li><a href="{{ site.url}}{{ site.baseurl}}/most_buzzed.html">Most Buzzed Blogs</a></li>
<li><a href="{{ site.url}}{{ site.baseurl}}/most_buzz_author.html">Most Buzzed Authors</a></li>
</ul>
</div>
<div class="col-lg-10">
<div id="main_div" class="">
{% include slider.html %}

</div>


<div id="intro" class="">

  <h1 class="page-heading">WELCOME!</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}

      <li>
      <div class="row post_row">

        <div class="col-lg-8 col-md-8 col-xs-12">

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url}}">{{ post.title }}</a>
        </h2>
        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>

        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col_date">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        </div>


        <a class="read_more" href="{{ post.url | prepend: site.baseurl | prepend: site.url}}">Read More</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
</div>
