---
layout: default
---


<div class="row" id="main_row">
<div class="col-lg-2" id="main_col">
<hr  />
<h2>Our Blogs</h2>
<hr class="hrz_line" />
<ul id="blog_menu">
<li><a href="{{ site.url}}{{ site.baseurl}}/index.html">All Blogs</a></li>
<li><a href="{{ site.url}}{{ site.baseurl}}/most_buzzed.html">Most Buzzed Blogs</a></li>
<li><a href="{{ site.url}}{{ site.baseurl}}/most_buzz_author.html">Most Buzzed Authors</a></li>
</ul>
</div>
<div class="col-lg-10">
<div id="main_div" class="">

</div>


  <ul class="author-list">
    {% for post in site.posts_popular %}
    {% assign author = site.data.authors[post.author] %}
    
      <li>
    	
        <div class="col-lg-4 col-md-4 col-xs-12">

        {% if post.author %} 
         
    <img class="center-block" src="{{ site.url}}{{ site.baseurl}}/assets/authors/{{ author.avatar }}" />
    <p class="center-block" class="authorname">{{ author.name }}</p>
    {% endif %}
        
        </div>
        
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
</div>
