<footer >
  <div class="container">
    <div  class="row">
    	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul id="footer_menu" >
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}">Home</a></li>
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}/java">Java</a></li>
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}/sap">SAP</a></li>
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}/architecture">Architecture</a></li>
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}/agile">Agile</a></li>
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}/devops">DevOps</a></li>
          <li><a class="footer-link" href="{{ site.url }}{{ site.baseurl }}">Contact Us</a></li>
      </ul>
      </div>
    	<div id="div_follow" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <span id="follow_us" class="center-block"> 
      <a href="https://github.com/me/"><i class="icon-github "></i></a> 
      <a href="https://twitter.com/me/"><i class="icon-twitter "></i></a> 
      <a href="https://plus.google.com/+me"><i class="icon-google-plus "></i></a> 
      <a href="https://www.reddit.com/user/me/"><i class="icon-reddit "></i></a> 
      <a href="https://www.youtube.com/user/me"><i class="icon-youtube "></i></a> 
      <a href="http://steamcommunity.com/id/me/"><i class="icon-steam "></i></a> 
      </span> 
      </div>
  </div>
  </div>
</footer>
