<footer >
<div class="container">
<div id="footer_logo" class="row">
<div  class="col-lg-4 col-md-4 col-xs-12">
	<a href="{{ site.url }}"><img class="img-responsive" src="{{ site.url}}/assets/logo.png" />tracebucket</a>
</div>

<div class="col-lg-4 col-md-4 col-xs-12">
<h5>Site Map</h5>
	<ul id="footer_menu">
        <li><a class="footer-link" href="{{ site.url }}">Home</a></li>
        <li><a class="footer-link" href="{{ site.url }}/java">Java</a></li>
        <li><a class="footer-link" href="{{ site.url }}/sap">SAP</a></li>
        <li><a class="footer-link" href="{{ site.url }}/architecture">Architecture</a></li>
        <li><a class="footer-link" href="{{ site.url }}/agile">Agile</a></li>
        <li><a class="footer-link" href="{{ site.url }}/devops">DevOps</a></li>
        <li><a class="footer-link" href="{{ site.url }}">Contact Us</a></li>
        
        </ul>

</div>
<div id="div_follow" class="col-lg-4 col-md-4 col-xs-12">
<h5>Connect with Us</h5>
<span id="follow_us">
<a href="https://github.com/me/"><i class="icon-github icon-2x"></i></a>
<a href="https://twitter.com/me/"><i class="icon-twitter icon-2x"></i></a>
<a href="https://plus.google.com/+me"><i class="icon-google-plus icon-2x"></i></a>
<a href="https://www.reddit.com/user/me/"><i class="icon-reddit icon-2x"></i></a>
<a href="https://www.youtube.com/user/me"><i class="icon-youtube icon-2x"></i></a>
<a href="http://steamcommunity.com/id/me/"><i class="icon-steam icon-2x"></i></a>
</span>
</div>
</div>
</div>
  
</footer>
